@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.page-1 h1{
  font-family: Lato;
  font-size: 88px;
  font-weight: 800;
  line-height: 96px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  box-shadow: 0px 7.961538314819336px 7.961538314819336px 0px #00000040;
}
 
.page-1 button{
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}